<div class="container">
  <div class="col-md-5 col-xs-12">
    <div class="row page-header text-center">
      <h2>Bridesmaids</h2>
    </div>
    <div style="min-height: 165px" ng-repeat="maid in vm.bridesmaids">
      <div class="row">
        <div class="col-md-4 col-xs-3">
          <img class="img-rounded" style="width: 120px; height: 120px;" ng-src={{maid.pic}} alt="...">
        </div>
        <div class="col-md-8 col-xs-9">
          <h4>{{maid.name}}</h4>
          <strong>Meet: </strong>{{maid.meet}}<br>
          <strong>Shared Experience: </strong>{{maid.xp}}<br>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5 col-md-offset-2 col-xs-12">
    <div class="row page-header text-center">
      <h2>Groomsmen</h2>
    </div>
    <div style="min-height: 165px" ng-repeat="man in vm.groomsmen">
      <div class="row">
        <div class="col-md-4 col-xs-3">
          <img class="img-rounded" style="width: 120px; height: 120px;" ng-src={{man.pic}} alt="...">
        </div>
        <div class="col-md-8 col-xs-9">
          <h4>{{man.name}}</h4>
          <strong>Meet: </strong>{{man.meet}}<br>
          <strong>Shared Experience: </strong>{{man.xp}}<br>
        </div>
      </div>
    </div>
  </div>

</div>
