<div class="container">

  <div class="col-md-5">
    <div class="row page-header text-center">
      <h2>Bridesmaids</h2>
    </div>
    <div class="row">
      <div class="media" ng-repeat="maid in vm.bridesmaids">
        <a class="media-left">
          <img class="media-object" style="width: 120px; height: 120px;" src={{maid.pic}} alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{maid.name}}</h4>
          <strong>Meet: </strong>{{maid.meet}} <br>
          <strong>Shared Experience: </strong>{{maid.xp}}
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-2">
  </div>

  <div class="col-md-5">
    <div class="row page-header text-center">
      <h2>Groomsmen</h2>
    </div>
    <div class="row">
      <div class="media" ng-repeat="man in vm.groomsmen">
        <a class="media-left">
          <img class="media-object" style="width: 120px; height: 120px;" src={{man.pic}} alt="...">
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{man.name}}</h4>
          <strong>Meet: </strong>{{man.meet}} <br>
          <strong>Shared Experience: </strong>{{man.xp}}
        </div>
      </div>
    </div>
  </div>

</div>
