<div class="jumbotron text-center">
  <h1>{{title}}</h1>
</div>
<div ng-repeat="location in locations" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{location.title}}</h3>
  </div>
  <div class="panel-body">
    <address>
      {{location.address}}<br>
      {{location.city}}, {{location.state}} {{location.zip}}<br>
      <a href={{location.link}}>Website</a>
    </address>
  </div>
</div>
<div>
  <ui-gmap-google-map center="map.center" zoom="map.zoom">
    <ui-gmap-markers models="markers" coords="'self'" click="'onClick'">
      <ui-gmap-windows show="show">
        <div ng-non-bindable>
          <div>{{title}}</div>
          <div>{{address}}</div>
          <div>{{city}}, {{state}} {{zip}}</div>
          <div><a href={{link}}>Website</a></div>
          </div>
        </div>
      </ui-gmap-windows>
    </ui-gmap-markers>
  </ui-gmap-google-map>
</div>
