<div class="container">
  <div class="page-header text-center">
    <h2>Information</h2>
  </div>

  <div class="col-xs-6 col-md-4">
    <div ng-repeat="location in vm.locations" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{location.title}}</h3>
      </div>
      <div class="panel-body">
        <address>
          {{location.address}}<br>
          {{location.city}}, {{location.state}} {{location.zip}}<br>
          <a href={{location.link}}>Website</a>
        </address>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-8">
    <ui-gmap-google-map center="vm.map.center" zoom="vm.map.zoom">
      <ui-gmap-markers models="vm.locations" coords="'self'" click="'onClick'">
        <ui-gmap-windows show="show" options="windowOptions">
          <div ng-non-bindable class="info-window">
            <address>
              {{title}}<br>
              {{address}}<br>
              {{city}}, {{state}} {{zip}}<br>
              <a href={{link}}>Website</a><br>
            </address>
          </div>
        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>
